@use "../helpers/variables" as *;

.header {
  &__wrapper {
    grid-area: header;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: -1;
    }
  }
  &__heading {
    span {
      color: $clr--secondary;
    }
  }
  &__navigation {
    display: flex;
    gap: 10rem;

    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
