.gallery-page__wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  position: relative;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-size: 300px;

  &::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 10%;
    width: 20%;
    height: 30%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 1px
    );
    background-size: 25px 25px;
  }
}
